<style>
 
.container-fluid 
{
      margin-top: 6% !important;
}
.panel-title
{
  text-align: center !important;
}
.heading
{
  width: 45%;
    margin-bottom: 3%;
    margin-top: 3%;
    margin-left: 27%;
    font-size: xx-large;
}
</style>
<div class="container-fluid">
  <div class="row">
   <button type="button" class="btn btn-primary btn-lg btn-block heading">Trailers</button>

    <div class="col-md-12">
     <div class="row">
     <div class="col-sm-1 sidenav">
    </div>
    <div class="col-sm-10" >
            <div class="col-md-3">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">
                 Iru Mugan
                  </h3>
                </div>
                <div class="panel-body"><img src="../resources/images/irumurugan trailer.jpg"  class="img-responsive" style="width:250px;height:250px" alt="Image">
        <div>
        <p class="lead para">Iru Mugan</p>
        </div>
        <span class="badge cmt">Thriller</span><span class="badge cmt">Action</span>
 
        </div>
                <div class="panel-footer">
                 <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-lg btn-block">Watch Trailer</button>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">
              Remo
                  </h3>
                </div>
                <div class="panel-body"><img src="../resources/images/remo trailer copy.jpg"  class="img-responsive" style="width:250px;height:250px" alt="Image">
        <div>
        <p class="lead para">Remo</p>
        </div>
        <span class="badge cmt">Drama</span><span class="badge cmt">Romance</span><span class="badge cmt">Action</span>
        </div>
                <div class="panel-footer">
                 <button type="button" data-toggle="modal" data-target="#myModal1" class="btn btn-primary btn-lg btn-block">Watch Trailer</button>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">
                 Aandavan Kattalai
                  </h3>
                </div>
                <div class="panel-body"><img src="../resources/images/Aandavan Kattalai trailer img.jpg"  class="img-responsive" style="width:250px;height:250px" alt="Image">
        <div>
        <p class="lead para">Aandavan Kattalai</p>
        </div>
        <span class="badge cmt">Drama</span><span class="badge cmt">Comedy</span>

        </div>
                <div class="panel-footer">
                 <button type="button" data-toggle="modal" data-target="#myModal2" class="btn btn-primary btn-lg btn-block">Watch Trailer</button>
                </div>
              </div>
            </div>
   
      
        <div class="col-md-3">
         <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">
                 Saithan
                  </h3>
                </div>
                <div class="panel-body"><img src="../resources/images/Saithan trailer.jpg"  class="img-responsive" style="width:250px;height:250px" alt="Image">
        <div>
        <p class="lead para">Saithan</p>
        </div>
        <span class="badge cmt">Thriller</span><span class="badge cmt">Action</span>
        </div>
                <div class="panel-footer">
                 <button type="button" data-toggle="modal" data-target="#myModal3" class="btn btn-primary btn-lg btn-block">Watch Trailer</button>
                </div>
              </div>
        </div>
      </div>
      </div>
       <div class="col-sm-1 sidenav">
    </div>
    </div>
  </div>
</div>
</div>
<!-- iru mugan Trailer -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Iru Mugan Trailer</h4>
        </div>
        <div class="modal-body">
      <iframe  class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/v2mvsD9gVaU" frameborder="0" allowfullscreen></iframe>
      
        </div>
      </div>
      
    </div>
  </div>
  <!-- remo -->



<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Remo Trailer</h4>
        </div>
        <div class="modal-body">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/GEB4qrrWIgs" frameborder="0" allowfullscreen></iframe>
    
        </div>
      </div>
      
    </div>
  </div>
  <!-- Aandavan Kattalai -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Aandavan Kattalai Trailer</h4>
        </div>
        <div class="modal-body">
       <iframe  class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/PY2sEuriqLM" frameborder="0" allowfullscreen></iframe>
    </div>
      </div>
      
    </div>
  </div>
  <!--Saithan  -->

  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Saithan Trailer</h4>
        </div>
        <div class="modal-body">
     <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/z7XWrM3F_so?list=PL4xu3WrizXK2bjIdj95N1g5nSAYnR9suG" frameborder="0" allowfullscreen></iframe>
      
        </div>
      </div>
      
    </div>
  </div>